.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* height: calc(fit-content + 20px); */
  height: calc(3 * (40ch + 2ch) + 4ch);
  padding-bottom: 4ch;
}

.card {
  display: inline;
  width: 85%;
  height: 40ch;
  background-color: aquamarine;
}
.card-img-top {
  width: fit-content;
  height: fit-content;
}
