.logo-container {
    z-index: -1;
    width: fit-content;
    height: fit-content;
    position: fixed;
    top: 20%;
    left: 50%;

    .solid-logo {
        width: 80%;
        height: auto;
        opacity: 0;
        z-index: -1;
        transform: rotate(10deg) skewY(-10deg);
        animation: myLogo 4s 2s forwards ease;
    }

    @keyframes myLogo {
        from {
            width: 10%;
            transform: translateX(-100%) rotate(60deg);
        }
        to {
            opacity: 1;
        }
    }

    @keyframes myLogoMobile {
        from {
            width: 10%;
            transform: translateX(-100%) rotate(60deg);
        }
        to {
            opacity: 0.4;
        }
    }
}


@media (max-width:960px) {
    .logo-container {
        left: 15%;
        top: 50%;

        .solid-logo {
            animation: myLogoMobile 4s 2s forwards ease;
        }
    }
}
