.logo-container {
    z-index: -1;
    width: clamp(150px, 30vw, 400px);
    height: clamp(150px, 40vw, 600px);
    position: absolute;
    top: 30%;
    bottom: 0;
    right: 15%;
    left: auto;
    margin: auto;
    
    &:hover {
        animation: rubberBand 1s;
        display: inline-block;
        animation-fill-mode: both;
    }
    


    .solid-logo {
        position: absolute;
        top: auto;
        right: auto;
        bottom: auto;
        left: 0;
        margin: auto;
        width: 120%;
        opacity: 0;
        z-index: -1;
        transform: rotate(1deg);
        margin-top: 30px;
        animation: myLogo 4s 2s forwards ease;
    }

    @keyframes myLogo {
        from {
            width: 10%;
            transform: translateX(-100%) rotate(60deg);
        }
        to {
            opacity: 1;
        }
    }
}


@media (max-width:960px) {
    .logo-container {
        z-index: -1;
        width: clamp(150px, 30vw, 400px);
        height: clamp(150px, 40vw, 600px);
        position: absolute;
        top: 100%;
        right: 15%;
        bottom: 0;
        left: auto;
        margin: auto;
    }
}


@media (max-width:560px) {
    .logo-container {
        z-index: -1;
        width: clamp(150px, 30vw, 400px);
        height: clamp(150px, 40vw, 600px);
        position: absolute;
        top: 60%;
        right: 15%;
        bottom: 0;
        left: auto;
        margin: auto;
    }
}
