@import '../../App.scss';

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~ > 996px ~~~~~~~~~~~~~~~~~~~~~~~~~~~ //

.box-home {

    .letter-box {
        $w1: calc(4rem * 0.8);
        $w2: calc(3rem * 0.8);

        display: inline-block;
        width: calc(4rem * 0.8);
        width: clamp($w2, 4.3vw, $w1);
        margin-left: 1rem;
        margin-right: 2px;

        &:hover {
            animation: rubberBand 1s;
        }

        img {
            position: relative;
            object-fit: contain;
            height: 100%;
            width: 100%;
            opacity: 0;
            animation: rotateIn 1s linear both;
            animation-fill-mode: both;
            bottom: 10px;
        }
    }

    h2 {
        color: $secondary-color;
        font-size: clamp(1rem, 4vw, 1.5rem);
        opacity: 0;
        animation: fadeInUp 1.5s 2s forwards;
    }

    .box-btn {
        opacity: 0;
        animation: fadeInUp 1.5s 2.5s forwards;     

        .contact-btn {
            @include button;
            display: inline-block;
            text-decoration: none;
            }
        
    }

    .box-effect {
        grid-area: second;
        padding: 150px 0px 1rem 0px;

        // img {
        //     width: 35vw;
        //     height: 35vw;
        //     animation: fadeInLeft 1.5s 2s forwards;
        //     opacity: 0;
        //     overflow: hidden;
        // }
    }
        
        .grid-box{
            $length: 400px;
            $squareRoot: 3;
            
            width: $length;
            height: $length;
            display: grid;
            border-radius: 30px;
            gap: 0px;

            $tile: calc($length / $squareRoot);

            img {
                object-fit: none;
                width: $tile;
                height: $tile;
            }

            .tile {
                width: $tile;
                height: $tile;
                opacity: 1;
                overflow: hidden;
            }

            // .img-1 {
            //     object-position: 0% 0%;
            // }
            // .img-2 {
            //     object-position: 100% 0%;
            // }
            // .img-3 {
            //     object-position: 0% 100%;
            // }
            // .img-4 {
            //     object-position: 100% 100%;
            // }

            .img-1 {
                object-position: 0% 0%;
            }
            .img-2 {
                object-position: 50% 0%;
            }
            .img-3 {
                object-position: 100% 0%;
            }
            .img-4 {
                object-position: 0% 50%;
            }
            .img-5 {
                object-position: 50% 50%;
            }
            .img-6 {
                object-position: 100% 50%;
            }
            .img-7 {
                object-position: 0% 100%;
            }
            .img-8 {
                object-position: 50% 100%;
            }
            .img-9 {
                object-position: 100% 100%;
            }

            @for $i from 1 through 36 {
   
            // @for $j from 1 through $squareRoot {
            //     .img-#{$j} {
            //         object-position: calc((#{$j} - 1) * calc(100% / $squareRoot)) 0%;
            //     }
            //     $j1: calc($j + calc($squareRoot * 1));
            //     .img-#{$j1} {
            //         object-position: calc((#{$j} - 1) * calc(100% / $squareRoot)) 33%;
            //     }
            //     $j2: calc($j + calc($squareRoot * 2));
            //     .img-#{$j2} {
            //         object-position: calc((#{$j} - 1) * calc(100% / $squareRoot)) 66%;
            //     }
            //     $j3: calc($j + calc($squareRoot * 3));
            //     .img-#{$j3} {
            //         object-position: calc((#{$j} - 1) * calc(100% / $squareRoot)) 100%;
            //     }
                // $j4: calc($j + 24);
                // .img-#{$j4} {
                //     object-position: calc((#{$j} - 1) * 20%) 80%;
                // }
                // $j5: calc($j + 30);
                // .img-#{$j5} {
                //     object-position: calc((#{$j} - 1) * 20%) 100%;
                // }
            // }

            .tile-#{$i} {
                @if (random() <= 0.5)
               { animation: flipInY calc(random(5) * 0.5s + 1s) forwards; }
               @else { animation: flipInX calc(random(5) * 0.5s + 1s) forwards;}               
            }

        }
    }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~ < 996px ~~~~~~~~~~~~~~~~~~~~~~~~~~~ //

@media screen and (max-width: 992px) {
    .box-home {   

        .letter-box {
           width: calc(3.3rem * 0.8);

            img {
                bottom: 8px;
            }
        }

        h2 {
            width: 100%;
        }

        .box-effect {

            img {
                width: 100%;
                height: auto;
                padding-top: 40px;
            }

            .grid-box{
                width: 100%;
                height: auto;
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                grid-template-rows: repeat(6, 1fr);
                border-radius: 30px;

                $tile: 50px;

                .tile {
                    height: $tile;
                    width: $tile;
                    img {
                        object-fit: none;
                        width: $tile;
                        height: $tile;
                    }
                }
            }    
        }    
    } 
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~ < 768px ~~~~~~~~~~~~~~~~~~~~~~~~~~~ //

@media screen and (max-width: 768px) {
    .box-home {

        .box-effect {
            display: flex;
            justify-content: center;
            img {
                width: 60%;
                height: auto; 
            }
        }
    }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~ < 556px ~~~~~~~~~~~~~~~~~~~~~~~~~~~ //

@media screen and (max-width: 576px) {
    .box-home {

        .letter-box {
            $font-h1: clamp(1rem, 12vw,3rem);
            width: clamp(0.8rem, 12vw, 2.4rem);

            img {
                bottom: clamp(4px, 1rem, 9px);
            }
        }
       
        .box-btn {
            width: 100%;

            .contact-btn {
                background-color: $primary-color;
                color: $dark;
            }
        }        
    }    
}