@import '../../App.scss';

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~ > 996px ~~~~~~~~~~~~~~~~~~~~~~~~~~~ //

.box-main {
    width: 100%;
    height: 100%;
    font-family: 'Didact Gothic', sans-serif;

    .floating-tag {
        color: $primary-color;
        position: fixed;
        z-index: -1;
        font-family: 'Bilbo Swash Caps';
        font-size: 20px;
        animation: aniTags 20s infinite;
    
        @keyframes aniTags {
            0% {
                opacity: 0.05;
            }

            50% {
                opacity: 0.3;
                transform: scale(1.2);
            }

            100% {
                opacity: 0.05;
            }
        }

        &:nth-child(2){
            top: 15%;
            left: 20%;

        }
        &:nth-child(3){
            top: 50%;
            left: 40%;
        }
        &:nth-child(4){
            top: 60%;
            left: 75%;
        }
        &:nth-child(5){
            top: 80%;
            left: 80%;
        }
        &:nth-child(6){
            top: 95%;
            left: 40%;
        }
    }

    .page {
        padding: 0px 50px 0px 80px;

        .grid-container {
            display: grid;
            grid: 'first second second';
            gap: 1rem;
            width: 100%;
        }

        h1 {
            font-family: 'Kanit', sans-serif;
            font-weight: 500;
            font-size: clamp(3rem, 5vw ,4rem);
            color: $primary-color;
        }

        .text-zone {
            grid-area: first;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            margin: 150px 0px 0px 50px;
        }

        .box-effect {
            grid-area: second;
        }
    }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~ < 996px ~~~~~~~~~~~~~~~~~~~~~~~~~~~ //

@media screen and (max-width: 992px) {
    .box-main {
        .page {
            padding: 110px 5% 0px 5%;

            .grid-container {
                grid: 'first second';
            }

            h1 {
                font-size: 3.3rem;
            }

            .text-zone {
                margin: 0px;
            }
        }
    }

    @media screen and (orientation: landscape) and (max-width: 992px ){
        .box-main {
            .page {   
                
                .text-zone {
                    margin-bottom: 50px;
                }

                .box-effect {
                    padding-top: 10%;
                }
           }
        }
    }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~ < 768px ~~~~~~~~~~~~~~~~~~~~~~~~~~~ //

@media screen and (max-width: 768px) {
    .box-main {
        .page {

            .grid-container {
                grid: 'first' 'second';
            
                .box-effect {
                    padding-top: 20px;
                }
            }
        }
    }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~ < 556px ~~~~~~~~~~~~~~~~~~~~~~~~~~~ //

@media screen and (max-width: 576px) {
    .box-main {
        .page {
            padding-top: 130px;

            .text-zone {
                align-items: center;
                gap: 1rem;
                width: 100%;

                h1 {
                    font-size: clamp(1rem, 12vw,3rem);
                    width: 100%;
                }
            }
        }
    }
}