@import '../../App.scss';

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~ large ~~~~~~~~~~~~~~~~~~~~~~~~~~~ //

.box-main {
    width: 100%;
    height: 100%;
    font-family: 'Didact Gothic', sans-serif;

    .page {
        margin: 0px 50px 0px 80px;

        .grid-container {
            display: grid;
            grid: 'first second second';
            gap: 1rem;
        }

        h1 {
            font-family: 'Kanit', sans-serif;
            font-weight: 500;
            font-size: clamp(2rem, 7.5vw, 4rem);
            color: $primary-color;
        }

        .text-zone {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            margin: 150px 0px 0px 50px;
        }
    }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~ middle ~~~~~~~~~~~~~~~~~~~~~~~~~~~ //

@media screen and (max-width: 992px) {
    .box-main {
        .page {
            margin: 110px 5% 0px 5%;

            .grid-container {
                grid: 'first second';
            }

            .text-zone {
                margin: 0px;
            }
        }
    }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~ small ~~~~~~~~~~~~~~~~~~~~~~~~~~~ //

@media screen and (max-width: 576px) {
    .box-main {
        .page {
            margin-top: 130px;

            .grid-container {
                grid: 'first' 'second';
            }

            .text-zone {
                align-items: center;
                gap: 1rem;

                h1 {
                    width: 100%;
                }
            }

            .contact-btn {
                background-color: $primary-color;
                color: $dark;
            }
        }
    }
}