// ~~~~~~~~~~~~~~~~~~~~~~~~~~~ large ~~~~~~~~~~~~~~~~~~~~~~~~~~~ //

.box-main {
    width: 100%;
    height: 100%;
    font-family: 'Didact Gothic', sans-serif;

    .page {
        margin-left: 80px;

        h1 {
            font-family: 'Kanit', sans-serif;
            font-weight: 500;
            font-size: clamp(2rem, 10vw, 4rem);
        }

        .text-zone {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding: 150px 0 0 50px;
        }
    }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~ middle ~~~~~~~~~~~~~~~~~~~~~~~~~~~ //

@media screen and (max-width: 992px) {
    .box-main {
        .page {
            margin: 50px 5% 0px 5%;

            .text-zone {
                padding: 0px;
            }
        }
    }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~ small ~~~~~~~~~~~~~~~~~~~~~~~~~~~ //

@media screen and (max-width: 576px) {
    .box-main {
        .page {
            .text-zone {
                margin-top: 70px;
                align-items: center;
                gap: 1rem;

                h1 {
                    width: 100%;
                }
            }
        }
    }
}