* {
  box-sizing: border-box;
}

html {
 margin: 0px;
 padding: 0px;
}

body {
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  background: linear-gradient(45deg, #25479c, #E66F45);
}

.dashboard {
  padding-left: 200px;
  padding-top: 200px;
}