@import 'variables';

.App {
  text-align: center;
  padding: calc(1vmin + 10px);
  padding-top: 0;
  background-color: $background;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: $third;
}

.App-header {
    position:fixed;
    z-index: 4;

}

.App-body {
  padding-top: 400px;
}
